@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', serif;
}

/* {
- Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 18px
- Weights: 300, 400, 600
} */

/* {
    color: hsl(215, 51%, 70%); time;             ''6''  
    color: hsl(178, 100%, 50%, 0.5); ETH;             ''5''   
    color: hsl(217, 54%, 11%); bg-color(main);   ''1'' 
    color: hsl(216, 50%, 16%); bg-color(card);   ''2''
    color: hsl(215, 32%, 27%); paragraph;        ''4''
    color: hsl(0, 0%, 100%); egu,jul;            ''3''
} */

body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 350px;
    padding: 24px;
    box-shadow: 0px 20px 0px 15px rgba(0,0,0,0.06),
                0px 40px 20px 30px rgba(0, 0, 0, 0.1);
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.diamond {
    width: 100%;
}

.img-container::after {
    --aqua: hsl(178, 100%, 50%, 0.5);

    content: url(images/icon-view.svg);
    background: var(--aqua);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1.5s ease;
}

.img-container:hover::after {
    opacity: 1;
}


h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0px;
}

h3:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: 1.5s;
}

.text p {
    color: hsl(215, 32%, 60%);
    font-size: 18px;
    margin-bottom: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ETH {
    color: hsl(178, 100%, 50%);
}

.ETH img {
    margin-right: 5px;
}

.time {
    color: hsl(215, 32%, 60%);
}

.ETH {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock img {
    margin-right: 5px;
}

.line {
    border: 1px solid hsl(215, 32%, 60%);
    width: 100%;
    margin-bottom: 20px;
    border-style:inset;
    opacity: 0.2;

}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 40px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 40px;
}

.author span {
    margin-left: 20px;
}

.author h {
    color: hsl(215, 32%, 60%);
    margin-right: 5px;
}

.author strong:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: 1.5s;
}


